@import './overriede';
@import './ayu-colors';
//@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html,
body {
  font-family: 'Raleway', sans-serif;
}

.main {
  background: $common-bg;
  color: $common-fg;
}

.card-separator {
  border: 0;
  border-top: 1px solid rgba($common-ui, 0.2);
}

a,
.color-removed {
  color: $vsc-removed;
}

a:hover,
a .color-removed:hover {
  color: scale-color($vsc-removed, $lightness: -10%, $saturation: 10%);
}

.color-bg {
  background: $common-ui
}

.color-modified {
  color: $syntax-tag;
}

.align-right {
  text-align: right;
}

.bor-bottom {
  border-bottom: 1px solid rgba($common-ui, 0.2);
}

.zindex-n1 {
  z-index: -1;
}

// #mascot {
//   display: block;
//   width: 100%;
//   height: 100%;
// }
